
*.lock
Client/target/classes/dk/grouptwo/App$1.class
Client/target/classes/dk/grouptwo/App.class
Client/target/classes/dk/grouptwo/create_account.fxml
Client/target/classes/dk/grouptwo/create_account_employee.fxml
Client/target/classes/dk/grouptwo/create_account_employer.fxml
Client/target/classes/dk/grouptwo/create_work_offer.fxml
Client/target/classes/dk/grouptwo/css/style.css
Client/target/classes/dk/grouptwo/employer_profile.fxml
Client/target/classes/dk/grouptwo/find_work.fxml
Client/target/classes/dk/grouptwo/images/account.png
Client/target/classes/dk/grouptwo/images/create_account_employee.png
Client/target/classes/dk/grouptwo/images/create_account_employee2.png
Client/target/classes/dk/grouptwo/images/create_account_employee3.png
Client/target/classes/dk/grouptwo/images/create_account_employer.png
Client/target/classes/dk/grouptwo/images/employee.png
Client/target/classes/dk/grouptwo/images/employeeblue.png
Client/target/classes/dk/grouptwo/images/employer.png
Client/target/classes/dk/grouptwo/images/employerblue.png
Client/target/classes/dk/grouptwo/images/find.png
Client/target/classes/dk/grouptwo/images/history.png
Client/target/classes/dk/grouptwo/images/jobs.png
Client/target/classes/dk/grouptwo/images/maestro.jpg
Client/target/classes/dk/grouptwo/images/plus.png
Client/target/classes/dk/grouptwo/images/plus2.png
Client/target/classes/dk/grouptwo/images/upcoming.png
Client/target/classes/dk/grouptwo/jobs.fxml
Client/target/classes/dk/grouptwo/model/EmployerModel.class
Client/target/classes/dk/grouptwo/model/EmployerProfile.class
Client/target/classes/dk/grouptwo/model/WorkerModel.class
Client/target/classes/dk/grouptwo/model/WorkerProfile.class
Client/target/classes/dk/grouptwo/Networking/Network.class
Client/target/classes/dk/grouptwo/primary.fxml
Client/target/classes/dk/grouptwo/secondary.fxml
Client/target/classes/dk/grouptwo/sing_in.fxml
Client/target/classes/dk/grouptwo/upcoming_work.fxml
Client/target/classes/dk/grouptwo/utility/WorkTableData.class
Client/target/classes/dk/grouptwo/view/CreateAccountController.class
Client/target/classes/dk/grouptwo/view/PrimaryController.class
Client/target/classes/dk/grouptwo/view/SecondaryController.class
Client/target/classes/dk/grouptwo/view/ViewHandler.class
Client/target/classes/dk/grouptwo/viewmodel/ViewModelFactory.class
Client/target/classes/dk/grouptwo/work_history.fxml
Client/target/classes/dk/grouptwo/worker_profile.fxml
Client/target/classes/module-info.class
Client/target/classes/main/resources/dk/grouptwo/worker_profile.fxml
Client/target/classes/main/resources/dk/grouptwo/work_history.fxml
Client/target/classes/main/resources/dk/grouptwo/upcoming_work.fxml
Client/target/classes/main/resources/dk/grouptwo/sign_in_employer.fxml
Client/target/classes/main/resources/dk/grouptwo/sign_in_employee.fxml
Client/target/classes/main/resources/dk/grouptwo/sign_in.fxml
Client/target/classes/main/resources/dk/grouptwo/jobs.fxml
Client/target/classes/main/resources/dk/grouptwo/images/upcoming.png
Client/target/classes/main/resources/dk/grouptwo/images/plus2.png
Client/target/classes/main/resources/dk/grouptwo/images/plus.png
Client/target/classes/main/resources/dk/grouptwo/images/maestro.jpg
Client/target/classes/main/resources/dk/grouptwo/images/jobs.png
Client/target/classes/main/resources/dk/grouptwo/images/history.png
Client/target/classes/main/resources/dk/grouptwo/images/find.png
Client/target/classes/main/resources/dk/grouptwo/images/employerblue.png
Client/target/classes/main/resources/dk/grouptwo/images/employer.png
Client/target/classes/main/resources/dk/grouptwo/images/employeeblue.png
Client/target/classes/main/resources/dk/grouptwo/images/employee.png
Client/target/classes/main/resources/dk/grouptwo/images/create_account_employer.png
Client/target/classes/main/resources/dk/grouptwo/images/create_account_employee3.png
Client/target/classes/main/resources/dk/grouptwo/images/create_account_employee2.png
Client/target/classes/main/resources/dk/grouptwo/images/create_account_employee.png
Client/target/classes/main/resources/dk/grouptwo/images/account.png
Client/target/classes/main/resources/dk/grouptwo/find_work.fxml
Client/target/classes/main/resources/dk/grouptwo/employer_profile.fxml
Client/target/classes/main/resources/dk/grouptwo/employer_history.fxml
Client/target/classes/main/resources/dk/grouptwo/css/style.css
Client/target/classes/main/resources/dk/grouptwo/create_work_offer.fxml
Client/target/classes/main/resources/dk/grouptwo/create_account_employer.fxml
Client/target/classes/main/resources/dk/grouptwo/create_account_employee.fxml
Client/target/classes/main/resources/dk/grouptwo/create_account.fxml
Client/target/classes/dk/grouptwo/viewmodel/worker/WorkerWorkHistoryViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/worker/WorkerProfileViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/worker/UpcomingWorkViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/worker/SignInWorkerViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/worker/FindWorkViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/worker/CreateWorkerAccountViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/employer/WorkViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/employer/SignInEmployerViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/employer/EmployerWorkHistoryViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/employer/EmployerProfileViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/employer/CreateWorkOfferViewModel.class
Client/target/classes/dk/grouptwo/viewmodel/employer/CreateEmployerAccountViewModel.class
Client/target/classes/dk/grouptwo/view/worker/WorkerWorkHistoryController.class
Client/target/classes/dk/grouptwo/view/worker/WorkerViewTabController.class
Client/target/classes/dk/grouptwo/view/worker/WorkerProfileController.class
Client/target/classes/dk/grouptwo/view/worker/UpcomingWorkController.class
Client/target/classes/dk/grouptwo/view/worker/SignInWorkerController.class
Client/target/classes/dk/grouptwo/view/worker/FindWorkController.class
Client/target/classes/dk/grouptwo/view/worker/CreateWorkerAccountController.class
Client/target/classes/dk/grouptwo/view/SignInController.class
Client/target/classes/dk/grouptwo/view/employer/WorkController.class
Client/target/classes/dk/grouptwo/view/employer/SignInEmployerController.class
Client/target/classes/dk/grouptwo/view/employer/EmployerWorkHistoryController.class
Client/target/classes/dk/grouptwo/view/employer/EmployerViewTabController.class
Client/target/classes/dk/grouptwo/view/employer/EmployerProfileController.class
Client/target/classes/dk/grouptwo/view/employer/CreateWorkOfferController.class
Client/target/classes/dk/grouptwo/view/employer/CreateEmployerAccountController.class
Client/target/classes/dk/grouptwo/sign_in_employer.fxml
Client/target/classes/dk/grouptwo/sign_in_employee.fxml
Client/target/classes/dk/grouptwo/sign_in.fxml
Client/target/classes/dk/grouptwo/networking/remote/RemoteServer.class
Client/target/classes/dk/grouptwo/networking/remote/RemoteClient.class
Client/target/classes/dk/grouptwo/networking/Client.class
Client/target/classes/dk/grouptwo/model/objects/Worker.class
Client/target/classes/dk/grouptwo/model/objects/License.class
Client/target/classes/dk/grouptwo/model/objects/Job.class
Client/target/classes/dk/grouptwo/model/objects/Employer.class
Client/target/classes/dk/grouptwo/model/objects/Address.class
Client/target/classes/dk/grouptwo/model/objects/Account.class
Client/target/classes/dk/grouptwo/model/ModelManager.class
Client/target/classes/dk/grouptwo/model/Model.class
Client/target/classes/dk/grouptwo/model/AccountManagement.class
Client/target/classes/dk/grouptwo/employer_history.fxml
Client/target/classes/dk/grouptwo/App.class
Client/target/classes/dk/grouptwo/utility/EmailValidator.class
Client/target/classes/dk/grouptwo/utility/Encryptor.class
Client/target/classes/dk/grouptwo/networking/LocalClientTest.class
Client/target/classes/dk/grouptwo/utility/LicenseTableData.class
Client/target/classes/dk/grouptwo/utility/WorkersTableData.class
Client/target/classes/dk/grouptwo/viewmodel/employer/WorkOfferViewModel.class
Server/target/classes/dk/grouptwo/networking/Server.class
