
*.lock
Client/target/classes/dk/grouptwo/App$1.class
Client/target/classes/dk/grouptwo/App.class
Client/target/classes/dk/grouptwo/create_account.fxml
Client/target/classes/dk/grouptwo/create_account_employee.fxml
Client/target/classes/dk/grouptwo/create_account_employer.fxml
Client/target/classes/dk/grouptwo/create_work_offer.fxml
Client/target/classes/dk/grouptwo/css/style.css
Client/target/classes/dk/grouptwo/employer_profile.fxml
Client/target/classes/dk/grouptwo/find_work.fxml
Client/target/classes/dk/grouptwo/images/account.png
Client/target/classes/dk/grouptwo/images/create_account_employee.png
Client/target/classes/dk/grouptwo/images/create_account_employee2.png
Client/target/classes/dk/grouptwo/images/create_account_employee3.png
Client/target/classes/dk/grouptwo/images/create_account_employer.png
Client/target/classes/dk/grouptwo/images/employee.png
Client/target/classes/dk/grouptwo/images/employeeblue.png
Client/target/classes/dk/grouptwo/images/employer.png
Client/target/classes/dk/grouptwo/images/employerblue.png
Client/target/classes/dk/grouptwo/images/find.png
Client/target/classes/dk/grouptwo/images/history.png
Client/target/classes/dk/grouptwo/images/jobs.png
Client/target/classes/dk/grouptwo/images/maestro.jpg
Client/target/classes/dk/grouptwo/images/plus.png
Client/target/classes/dk/grouptwo/images/plus2.png
Client/target/classes/dk/grouptwo/images/upcoming.png
Client/target/classes/dk/grouptwo/jobs.fxml
Client/target/classes/dk/grouptwo/model/EmployerModel.class
Client/target/classes/dk/grouptwo/model/EmployerProfile.class
Client/target/classes/dk/grouptwo/model/WorkerModel.class
Client/target/classes/dk/grouptwo/model/WorkerProfile.class
Client/target/classes/dk/grouptwo/Networking/Network.class
Client/target/classes/dk/grouptwo/primary.fxml
Client/target/classes/dk/grouptwo/secondary.fxml
Client/target/classes/dk/grouptwo/sing_in.fxml
Client/target/classes/dk/grouptwo/upcoming_work.fxml
Client/target/classes/dk/grouptwo/utility/WorkTableData.class
Client/target/classes/dk/grouptwo/view/CreateAccountController.class
Client/target/classes/dk/grouptwo/view/PrimaryController.class
Client/target/classes/dk/grouptwo/view/SecondaryController.class
Client/target/classes/dk/grouptwo/view/ViewHandler.class
Client/target/classes/dk/grouptwo/viewmodel/ViewModelFactory.class
Client/target/classes/dk/grouptwo/work_history.fxml
Client/target/classes/dk/grouptwo/worker_profile.fxml
