
.account {
	-fx-background-color: transparent !important;
	-fx-text-fill: black !important;
}

.account:hover {
	-fx-text-fill: #00affe !important;
}

.button {
    -fx-background-color:  #00affe;
    -fx-background-radius: 0;
    -fx-text-fill : white;
}

.button:hover {
    -fx-background-color: #00A7F5;
    -fx-background-radius: 0;
    -fx-text-fill : white;
}

.button:pressed {
    -fx-background-color: #009DE6;
    -fx-text-fill : white;
}

.button-login {
	-fx-background-color: transparent !important;
	-fx-text-fill: #00affe !important;
}


.table-view {
   -fx-background-color: transparent !important;
   -fx-selection-bar: #6bc4ff !important;
}

.table-view .column-header-background {
    -fx-background-color: #00affe;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 1.2em;

}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10;
    -fx-margin: 0 0 40 0;
    -fx-size: 13;
}

.table-view .table-cell {
    -fx-text-fill: black;
}

.table-row-cell{
	-fx-cell-size: 33;
	-fx-border-width:3 0 3 0; 
	-fx-border-color: #f4f4f4;
}

/*.table-row-cell:odd{
    -fx-background-color: white;
    -fx-selection-bar: #6bc4ff !important;
}*/

.table-row-cell:odd:focused {
	-fx-background-color: #6bc4ff !important;
}

/*.table-row-cell:even:focused {
	-fx-background-color: #6bc4ff !important;
}*/

.table-row-cell:odd {
    -fx-background-color: white;
}



.column-header-background {
    -fx-pref-height: 35;
}


#cancel {
    -fx-background-color:  #fe0000;
    -fx-background-radius: 0;
    -fx-text-fill : white;
}

#cancel:hover {
    -fx-background-color: #f50000;
    -fx-background-radius: 0;
    -fx-text-fill : white;
}

#cancel:pressed {
    -fx-background-color: #e60000;
    -fx-text-fill : white;
}



