
.account {
	-fx-background-color: transparent !important;
	-fx-text-fill: black !important;
}

.account:hover {
	-fx-text-fill: #00affe !important;
}

.button {
    -fx-background-color:  #00affe;
    -fx-background-radius: 0;
    -fx-text-fill : white;
}

.button:hover {
    -fx-background-color: #00A7F5;
    -fx-background-radius: 0;
    -fx-text-fill : white;
}

.button:pressed {
    -fx-background-color: #009DE6;
    -fx-text-fill : white;
}

.button-login {
	-fx-background-color: transparent !important;
	-fx-text-fill: #00affe !important;
}
/*
.text-field {

   -fx-border-color: #00affe;
   -fx-border-width: 2;
   -fx-border-radius: 0;
   -fx-background-color: -fx-text-box-border, -fx-control-inner-background;

}
*/


